.nav-logo{
    height: 50px;
    width: 50px !important;
}

.tabs li{
    border: 1px solid #ccc;
    border-right-width: 0;
}

.tabs li:last-child{
    border: 1px solid #ccc;
    border-right-width: 1px;
    border-left-width: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tabs li:first-child{
    border: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.tabs-active{
    background-color: #eee;
}

.team-logos img{
    width: 75%;
}

.bg-blue{
    background-color: #004687;
}