img{
    height: 50px;
    width: 50px;
}

.border-row{
    border-right:2px solid #dee2e6;
}

.no-border-bottom th{
    border-bottom: 0px !important;
}

.no-border-top th{
    border-top: 0px !important;
}

.stat-table{
    border:2px solid #dee2e6 ;
}

.table td, .table th {
    vertical-align: middle;
}

.link{
    cursor: pointer;
}

.nav{
    font-family: fantasy;
}